@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('/fonts/open-sans-regular.woff2') format('woff2'),
         url('/fonts/open-sans-regular.woff') format('woff');
  }
  @import url('https://fonts.googleapis.com/css?family=Bebas+Neue');
html,body{
  font-family: 'Open Sans';
}
  .navbar {
    font-family: 'Open Sans';
    font-weight: bold;
    opacity: 85%;
  }

  .banner {
    display: flex;
    background: url(assets/main-bg.jpg) no-repeat center center;
    background-size: cover;
    padding: 20%;
	box-shadow: 0 0 100px black inset;
    color: white;
  }

  .message-1 {
    font-family: 'Open Sans';
    font-weight: bold;
  }
  .message-2 {
        position: absolute;
        bottom: -18%;
        left: 51%;
        margin-left: -51px;
  }
  .quote {
    font-family: 'Open Sans';
  }
  .play-now {
    font-family: 'Open Sans';
    font-weight: bolder;
    padding-left: 50px;
    padding-right: 50px;
  }

  .scroll-icon {
    background-image: url(assets/scroll-down.svg) no-repeat scroll center center transparent;
    width: 50px;
    height: 50px;
  }

  .the-games {
    background: url(assets/the-games-bg.jpg) center center no-repeat ;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 10%;
    color: white;
    box-shadow: 0 0 100px black inset;
    display: flex;
  }
  .carousel-control-prev-icon {
    background-image: url(assets/switch-left.svg);
  }
  .carousel-control-next-icon {
    background-image: url(assets/switch-right.svg);
  }
  .carousel-indicators {
    border-radius: 50%;
  }
  .carousel {
  }
  .carousel-item {
    width: 100%;    /* Set the width to 100% to fill the slide */
    height: 100%;   /* Set the height to 100% to fill the slide */
    object-fit: cover; 
  }
  .features {
    background: url(assets/features.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20%;
	box-shadow: 0 0 100px black inset;
    color: white;
  }
  .row.justify-content-end {
    font-family: 'Open Sans';
  }
  .feature-message {
    justify-content: end;
  }
.message-3 {
  color: hwb(39 6% 11%);
}
.progress-bar{
  
}
.scroll-area {
  margin-top: 30px;
  height: 250px;
  position: relative;
  overflow: auto;
}
.card-body {
  background-color: transparent;
}
.message-4 {
  background-color: transparent;
  color: hwb(39 6% 11%);
  font-family: 'Open sans';
}
.custom button {
  width: 200px;
}
.system-requirements {
  background: url(assets/requirements.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Open Sans';
  background-position: top center;
  padding-top: 20%;
  padding-bottom: 20%;
box-shadow: 0 0 100px black inset;
  color: white;
}
.requirements-head {
color: white;
font-size: xxx-large;
font-family: 'Open Sans';
font-weight: lighter;
}
.requirements-specs {
  color: hwb(39 6% 11%);
}
.message-5 {
  color: white;
  font-weight: lighter;
}
.can-my {
  position: relative;
}
.scores {
  background: url(assets/top-score-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center scenter;
  font-family: 'Open Sans';
  padding-bottom: 10%;
box-shadow: 0 0 100px black inset;
  color: white;
}
.img-circle {
  border-radius: 50%;
}
.score-date {
  font-size: smaller;
  color: gray;
}
.score-job {
  font-size: medium;
  color: gray;
}
.bg-newsletter {
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center scenter;
  font-family: 'Open Sans';
box-shadow: 0 0 100px black inset;
  color: white;
}
.small-msg-in-newletter{
  font-weight: lighter;
  font-size: 130%;
  font-family: 'Open Sans';
}
.newsletter-header{
font-weight: light;
font-family: 'Open Sans';
}
.subscribe-now {
  font-family: 'Open Sans';
  font-weight: light;
  padding-left: 20px;
  padding-right: 20px;
  width: 250px;
  background-color: hwb(39 6% 11%);
}
.form-bg {
  background-color: rgb(49, 48, 48);
  border: transparent;
  padding-top: 13px;
  padding-bottom: 13px;
}
.custom-placeholder::placeholder {
  color: hwb(39 6% 11%);
  font-family: 'Open Sans';
}
.skull {
  padding-left: 140px;
  height: 500px;
  width: 700px;
}
.footer-bg {
  font-family: 'Open Sans';
  font-weight: bold;
  background-color: black;
}
.footer-btn {
  font-family: 'Open Sans';
  font-size: small;
}
.footer-down {
  border-top: 1px solid white;
}
.footer-btn-down {
  font-family: 'Open Sans';
  font-size: small;
}
.copyright {
  font-family: 'Open Sans';
  color: gray;
  font-size: smaller;
}